<!-- <p>Pagina di login, autenticarsi con!</p>
<div>Email: prova</div>
<div>Password: prova</div>

<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="container-fluid">
      <h2 class="form-signin-heading">Login</h2>
      <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
      <br/>
      <label for="email" class="sr-only">Email address</label>
      <input type="email" id="email" name="email" ngModel class="form-control" placeholder="User Name" required autofocus>
      <br/>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
      <br/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </div>
  </form> -->

  <div class="login-wrapper">
    <form class="login" (ngSubmit)="login()">
      <section class="title">
        <h3 class="welcome">Welcome to</h3>
        Ghigo Industry
        <h5 class="hint">User email "prova" and password "prova" to login </h5>
      </section>
      <div class="login-group">
        <clr-input-container>
          <label class="clr-sr-only">Username</label>
          <input type="text" name="email" clrInput placeholder="Email" [(ngModel)]="form.email" />
        </clr-input-container>
        <clr-password-container>
          <label class="clr-sr-only">Password</label>
          <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password" />
        </clr-password-container>
        <clr-checkbox-wrapper>
          <label>Remember me</label>
          <input type="checkbox" name="rememberMe" clrCheckbox [(ngModel)]="form.rememberMe" />
        </clr-checkbox-wrapper>
        <div *ngIf="this.invalidLogin" class="error active">
          Invalid user name or password
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>